<img src="https://d24cdstip7q8pz.cloudfront.net/t/ineuron1/content/common/images/final%20logo.png" height=60 alt-text="iNeuron.ai logo">

## 3.1 Basics of Python

Python is a high-level, dynamically typed multiparadigm programming language. Python code is often said to be almost like pseudocode, since it allows you to express very powerful ideas in very few lines of code while being very readable.

Before going for variables in python, Let's have a look at simple hello world program in python.
> **Note:** All below examples are using python 3 version. There is syntactically difference in python different versions(python 2 and python 3)

In [ ]:
# Python 3
print("Hello, world")

Hello, world

In [ ]:
# python 2
print "hello, world"

SyntaxError: Missing parentheses in call to 'print'. Did you mean print("hello, world")? (<ipython-input-3-0df62ad6f325>, line 2)

Above python 2 statement gives error as this code is for python 3 & If you are using python 2 then syntax will be different

Let's have few more examples:-

In [ ]:
print("Greetings from ineuron!")
print("Good morning!")
print("Keep doing hard work to achieve your goals in your life")
print("All our dreams can come true, if we have the courage to pursue them. – Walt Disney")

Greetings from ineuron!
Good morning!
Keep doing hard work to achieve your goals in your life
All our dreams can come true, if we have the courage to pursue them. – Walt Disney

## 3.2 Comments in python

Comments in python is responsible for not executing that piece of code. You can add comment by using ctrl `+` `/` or by using `#`

In [ ]:
# This piece of code will not execute
# print("As this is commented, this print statement will not execute")

# This piece if code will execute
print("As this is not commented, this print statement will execute")

As this is not commented, this print statement will execute

In [ ]:
# print("hii")
# print("ineuron")
# print("welcome to Data science course")*/

Unlike other programming languages Python doesn't support multi-line comment blocks out of the box.
For multiple line comment, we need to insert # single-line comments in evry line.

For multiple line, we can use `"""` or `'''` (triple quotes) which we can use if our string doesn't fit into single line.See example below.

In [ ]:
""" Multi-line comment used 
print("Python Comments") """

' Multi-line comment used \nprint("Python Comments") '

## 3.3 Variables in python

In any programming language, variable is nothing but just a name for identity. Like we all have our name and from our name people will recognize oneself and identify oneself.So Developers will use variables/ variable names to make the code more user-friendly , just like an english language so that no one will lost in the code.If any third person will see the code, they will be able to understand the code and the meaning behind it easily just by seeing useful variable names.

In a more technical term,we can say that variables in python are the values that will vary.A variable is used to store a value. According to the requirement, this value of variable may change in future.

In python, there is no need of declaring variable as soon as you assign something to a variable variable is called declared. explicitely we don't need any declaration.

### 3.1 Definining

A variable in Python is defined through assignment. There is no concept of declaring a variable outside of that assignment.

In [ ]:
# Assigning value to variable and printing the variable
tenth = 10
tenth

10

In [ ]:
X=5
y = 10

print(X,y)

5 10

In [ ]:
''' 
Here name is variable and assigning name ineuron to variable name then we dont need to declare and assign , 
we can directly assign hence it is declared. For example,
'''

# Correct variable assignment
name = "ineuron"

# Dont need below one
name = ""
name = "ineuron"

For variable-names, there are certain rules which we should follow as a best practice:-

**1)**  Variable name can't start with number

In [ ]:
# Wrong coding practice
1a = "ineuron"
1name = "ineuron"

SyntaxError: ignored

In [ ]:
# correct one
name1 = "ineuron"

**2)**  Variable name are case-sensitive.

In [ ]:
# here name and Name are two different variable, so they are case sensitive
name = "ineuron"
Name = "ineuron_company"

print(name)
print(Name)

**3)**  Don't use python in built function/ data-type as a variable name

In [ ]:
# Wrong practice
int = 1

# correct practice
number_1 = 1

In [ ]:
number_1

**4)**  Variable name can only contain alpha-numeric characters and underscores (A-z, 0-9, and _ ). No other special characters are allowed.

In [ ]:
# wrong one
name& = "hi"

In [ ]:
# correct one
name_a = "ineuron"

In [ ]:
# Basic understanding of variables through below image

<img src="img/pythonVar.png">

Now, we know how can we assign into variable. Let's check basic datatypes exist in python

## 3.4 Fundamental data-types in python

### 3.4.1 Integers

Integer literals are created by any number without a decimal or complex component. They can be represented as a whole number.

In [ ]:
# integers
a = 7
print(a)

# How to check type of variable
print(type(a))

7
<class 'int'>

### 3.4.2 Floats

Float literals can be created by adding a decimal component to a number. When we need to display decimal points to a number, then we will use float number.

In [ ]:
# float
x = 1.5
print(x)

# How to check type of variable
print(type(x))

1.5
<class 'float'>

But, if you write same number without decimal it will consider as integer number

In [ ]:
x= 1
print(x)
print(type(x))

1
<class 'int'>

### 3.4.3 Boolean

Boolean can be defined by typing True/False without quotes

In [ ]:
# boolean
b1 = True
b2 = False

type(b1)

bool

### 3.4.4 Strings

String literals can be defined with any of single quotes `'`, double quotes `"` or triple quotes `'''` or `"""`. All give the same result with two important differences.

If you quote with single quotes, you do not have to escape double quotes and vice-versa. If you quote with triple quotes, your string can span multiple lines.

In [ ]:
# string with single quote
name1 = 'your name vvgafdasfasfasfa'
type(name1)
name1

'your name vvgafdasfasfasfa'

In [ ]:
# string with double quote
name1 = "your name vvgafdasfasfasfa"
type(name1)
name1

'your name vvgafdasfasfasfa'

In [ ]:
# string with triple quote
name1 = '''
your name vvgafdasfasfasfa.
your name vvgafdasfasfasfa
your name vvgafdasfasfasfa
'''
type(name1)
name1

'\nyour name vvgafdasfasfasfa.\nyour name vvgafdasfasfasfa\nyour name vvgafdasfasfasfa\n'

### 3.4.5 Complex

Complex literals can be created by using the notation x + yj where x is the real component and y is the imaginary component.

In [ ]:
#complex numbers: note the use of `j` to specify the imaginary part


j = 1.0 - 2.0j

j

(1-2j)

In [ ]:
j

(1-2j)

In [ ]:
print(j.real, j.imag)

1.0 -2.0

For more details about complex numbers, refer https://en.wikipedia.org/wiki/Complex_number

## 3.5 Dynamic Typing

In Python, while the value that a variable points to has a type, the variable itself has no strict type in its definition. You can re-use the same variable to point to an object of a different type. It may be helpful to think of variables as "labels" associated with objects.

In [ ]:
ten = 10
ten

10

In [ ]:
ten = 'ten'
ten

'ten'

## 3.6 Strong Typing

While Python allows you to be very flexible with your types, you must still be aware of what those types are. Certain operations will require certain types as arguments.

In [ ]:
# Need to convert int to string for concatenate with string
'Day ' +str(1)

'Day 1'

In [ ]:
# can't concatenate string with integer however we will see concatenation and string comprehention in a later stage
'Day ' + 1

TypeError: can only concatenate str (not "int") to str

This behavior is different from some other loosely-typed languages. If you were to do the same thing in JavaScript, you would get a different result.

In Python, however, it is possible to change the type of an object through builtin functions.

In [ ]:
# Let's look for more use of variables

In [ ]:
students = 100000

print("iNeuron has ", students , " no. of students")

iNeuron has  100000  no. of students

In [ ]:
# If we want to print similar above example with concatenation , we need to convert int to string.
print("iNeuron has " + str(students) + " no. of students")

iNeuron has 100000 no. of students

In [ ]:
gold_rate = 52000
print("Today Gold rate crosses " , gold_rate)

Today Gold rate crosses  52000

In [ ]:
no_of_cars = 10
no_of_drivers = 5
print("There are", no_of_cars , "cars available but only", no_of_drivers, "drivers available to drive cars")

There are 10 cars available but only 5 drivers available to drive cars

In [ ]:
my_weight = 55.6
print("My weight is", my_weight,"kg")

My weight is 55.6 kg

## 3.7 String formatting

In [ ]:
# For string formatting we can use as below. Generally this is widely used method. however alternatives are available:-
print("Greetings from {}! Have a {} day".format("ineuron","good"))

Greetings from ineuron! Have a good day

In [ ]:
#Another way of doing formating using f string
a = "ineuron"
b = "good"
print(f"Greetings from {a}! Have a {b} day")

Greetings from ineuron! Have a good day

In [ ]:
#Another way of doing formating using format
'{0}, {1}, {2}'.format('Greetings', 'from', 'iNeuron')

'Greetings, from, iNeuron'

In [ ]:
#Another way of doing formating using format
'{2}, {1}, {0}'.format('iNeuron', 'from', 'Greetings')

'Greetings, from, iNeuron'

In [ ]:
# There is another way of string formatting as below. For string we can use %s and for integer we can use %d
print("Greetings from %s! Have a %s day" % ("ineuron","good"))

Greetings from ineuron! Have a good day

In [ ]:
print("Hey, i am %d years old" % (40))

Hey, i am 40 years old

In [ ]:
# For float we can use %f
print("Hey,My weight is %f kg" % (55.5))

Hey,My weight is 55.500000 kg

For more details about string formatting, refer below documents:-
    
https://docs.python.org/3.8/library/string.html

## 3.8 Input from user

If we want to ask something to user or want input from the user we can use input() function.

In [ ]:
# Lets say if we are asking user their name:-
name = input("Enter your name:- ")
print("Your name is " ,name)

Enter your name:- iNeuron
Your name is  iNeuron

>**Note:-** `input()` will always return as a string, if we want to use it as a int/float we need to convert into respective data-type.
Let's check below example:-

In [ ]:
a = input("Enter your age:- ")
print(a)
print(type(a))

Enter your age:- 50
50
<class 'str'>

In [ ]:
# If we want to take it as an integer, we should convert to int before using it.
a = int(a)
print(a)
print(type(a))

50
<class 'int'>