In [1]:
s = "sudh"
n = 56
l = [3,4,5,67,"sudh",45.67, 6+7j,[3,4,5,67]]
t = (5,6,7,8,8)
d = {"y" :"fdsfs" , 6 :"rtr" ,n:{"name":"sudh" , "mail_id" :"sudh@gmail.com"}}

In [2]:
s[0]

's'

In [3]:
s[-1]

'h'

In [4]:
s[100]

IndexError: string index out of range

In [5]:
s[0:100]

'sudh'

In [6]:
for i in s:
    print(i)

s
u
d
h

In [7]:
for i in n :
    print(i)

TypeError: 'int' object is not iterable

In [8]:
iter(s)

In [9]:
iter(n)

TypeError: 'int' object is not iterable

In [10]:
iter(l)

In [12]:
s = "sudh"

In [13]:
next(s)

TypeError: 'str' object is not an iterator

In [14]:
l = [3,4,5,6,7]
next(l)

TypeError: 'list' object is not an iterator

In [17]:
s

'sudh'

In [15]:
m = iter(s)

In [16]:
next(m)

's'

In [18]:
next(m)

'u'

In [19]:
next(m)

'd'

In [20]:
next(m)

'h'

In [21]:
next(m)

StopIteration:

In [22]:
for i in s :
    print(i)

s
u
d
h

In [23]:
l = [4,5,6,7,8]

In [24]:
next(l)

TypeError: 'list' object is not an iterator

In [25]:
l1 = iter(l)

In [26]:
next(l1)

4

In [27]:
next(l1)

5

In [28]:
next(l1)

6

In [29]:
next(l1)

7

In [30]:
next(l1)

8

In [31]:
next(l1)

StopIteration:

In [32]:
iter(45)

TypeError: 'int' object is not iterable

In [33]:
d

{'y': 'fdsfs', 6: 'rtr', 56: {'name': 'sudh', 'mail_id': 'sudh@gmail.com'}}

In [34]:
next(d)

TypeError: 'dict' object is not an iterator

In [35]:
iter(d)

In [36]:
d

{'y': 'fdsfs', 6: 'rtr', 56: {'name': 'sudh', 'mail_id': 'sudh@gmail.com'}}

In [37]:
for i in d.keys():
    print(d[i])

fdsfs
rtr
{'name': 'sudh', 'mail_id': 'sudh@gmail.com'}

In [38]:
for i in d.items():
    print(i)

('y', 'fdsfs')
(6, 'rtr')
(56, {'name': 'sudh', 'mail_id': 'sudh@gmail.com'})

In [39]:
d

{'y': 'fdsfs', 6: 'rtr', 56: {'name': 'sudh', 'mail_id': 'sudh@gmail.com'}}

In [46]:
for i in d.keys():
    if type(d[i]) == dict :
        for j in d[i].items():
            print(j)

('name', 'sudh')
('mail_id', 'sudh@gmail.com')

In [50]:
d = {[56]:"sudh"}

TypeError: unhashable type: 'list'

In [51]:
d = {"key1" :"sudh" ,"key1":[3,4,5,6,7,8]}

In [52]:
d['key1']

[3, 4, 5, 6, 7, 8]

In [53]:
d["key2"] = (5,6,7,8,9)

In [54]:
d

{'key1': [3, 4, 5, 6, 7, 8], 'key2': (5, 6, 7, 8, 9)}

In [56]:
d['key1'] = "kumar"

In [57]:
d

{'key1': 'kumar', 'key2': (5, 6, 7, 8, 9)}

In [58]:
t = (4,5,6,7,89)

In [59]:
t

(4, 5, 6, 7, 89)

In [60]:
t[0]

4

In [61]:
t[-1]

89

In [63]:
t[0] = 56

TypeError: 'tuple' object does not support item assignment

In [62]:
l = [4,5,6,7,8]

In [64]:
l[0] = 45

In [65]:
t = (3,4,5,6,7)

In [66]:
l2 = list(t)

In [67]:
l2

[3, 4, 5, 6, 7]

In [68]:
l2[0] = 30

In [69]:
l2

[30, 4, 5, 6, 7]

In [70]:
tuple(l2)

(30, 4, 5, 6, 7)

In [72]:
list(range(10))

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [73]:
for i in range(10):
    print(i)

0
1
2
3
4
5
6
7
8
9

In [74]:
next(range(10))

TypeError: 'range' object is not an iterator

In [75]:
r = iter(range(10))

In [76]:
next(r)

0

In [78]:
for i in range(10):
    print(i**2)

0
1
4
9
16
25
36
49
64
81

In [79]:
def fib(n):
    a = 0
    b = 1
    if n == 1:
        print(a)
    else:
        print(a)
        print(b)
        for i in range(2,n):
            c = a + b
            a = b
            b = c
            print(c)
fib(10)

0
1
1
2
3
5
8
13
21
34

In [1]:
number=int(input("enter number:"))

def fibonacci(number):
    fib=[]
    count=0
    for i in range(number):
        if i==0:
            fib.append(i)
        elif i==1:
            fib.append(i)
        else:
            fib.append(fib[-1]+fib[-2])
    return fib
            
fibonacci(number)

enter number:34

[0,
 1,
 1,
 2,
 3,
 5,
 8,
 13,
 21,
 34,
 55,
 89,
 144,
 233,
 377,
 610,
 987,
 1597,
 2584,
 4181,
 6765,
 10946,
 17711,
 28657,
 46368,
 75025,
 121393,
 196418,
 317811,
 514229,
 832040,
 1346269,
 2178309,
 3524578]

In [4]:
fibonacci(2)

[0, 1]

In [2]:
lst=[]

def fibo(n):
    a,b=1,1
    for i in range(n):
        yield a,i
        a,b=b,a+b
        
for c,i in fibo(10):
    lst.append(c)

[1, 1, 2, 3, 5, 8, 13, 21, 34, 55]

In [3]:
fibo(45)

In [6]:
for  i in fibo(4):
    print(i)

(1, 0)
(1, 1)
(2, 2)
(3, 3)

In [7]:
for i in range(4):
    print(i)

0
1
2
3

In [12]:
def squ(n):
    for i in range(n) :
        yield i**2

In [13]:
squ(5)

In [14]:
for i in squ(5):
    print(i)

0
1
4
9
16

In [15]:
next(squ(5))

0

In [16]:
next(squ(5))

0

In [17]:
next(squ(5))

0

In [21]:
def sum(a=10,b=20):
    print(a)

In [23]:
sum() + 60

10

TypeError: unsupported operand type(s) for +: 'NoneType' and 'int'

In [24]:
def sum(a=10,b=20):
    return a

In [25]:
sum() + 60

70

In [26]:
def sum(a=10,b=[20,45,6,7]):
    return a ,b

In [27]:
sum()

(10, [20, 45, 6, 7])

In [28]:
m ,n = sum()

In [29]:
m

10

In [30]:
n

[20, 45, 6, 7]

In [32]:
_,_ = sum()

In [33]:
_

[20, 45, 6, 7]

In [34]:
_,*= sum()

SyntaxError: illegal expression for augmented assignment (<ipython-input-34-3aaf0fb08e2e>, line 1)

In [35]:
def test(a,b,c,d,g,h):
    return a

In [39]:
def test(*agrs):
    return agrs

In [40]:
test(4,5,6,7)

(4, 5, 6, 7)

In [41]:
test(4,5,6,7,6767,756, [4,5,6,7] , (4,5,6,78))

(4, 5, 6, 7, 6767, 756, [4, 5, 6, 7], (4, 5, 6, 78))

In [44]:
def test(*sudh):
    return sudh

In [45]:
test(4,5,6,7,6767,756, [4,5,6,7] , (4,5,6,78))

(4, 5, 6, 7, 6767, 756, [4, 5, 6, 7], (4, 5, 6, 78))

In [46]:
def test1(**kwargs) : 
    return kwargs

In [48]:
test1(a = 34,b = 4,sudh = 5,kumar = 6)

{'a': 34, 'b': 4, 'sudh': 5, 'kumar': 6}

In [57]:
def test1(**sudh) : 
    return sudh.values()

In [59]:
for i in test1(a = 34,b = 4,sudh = 5,kumar = 6):
    print(i)

34
4
5
6

In [60]:
def test(a,b) :
    return a+ b

In [61]:
test(34,56)

90

In [63]:
 l = lambda a , b : a+ b

In [64]:
l(34,56)

90

In [ ]:
range()

In [ ]:
print()

In [ ]:
len()

In [66]:
def test(a,b) :
    """this is my function to add two variable 
    fdsf
    dfsf
    fds
    fds
    fds
    fds
    f
    f
    sdfs"""
    return a+ b

In [68]:
help(test)

Help on function test in module __main__:

test(a, b)
    this is my function to add two variable
    fdsf
    dfsf
    fds
    fds
    fds
    fds
    f
    f
    sdfs

In [72]:
l = [1,2,3,4,5,6,7]
l1 = []
for i in l :
    l1.append(i+2)

In [73]:
l1

[3, 4, 5, 6, 7, 8, 9]

In [74]:
[i + 2 for i in l ]

[3, 4, 5, 6, 7, 8, 9]

In [75]:
{i:i**2 for i in l }

{1: 1, 2: 4, 3: 9, 4: 16, 5: 25, 6: 36, 7: 49}

In [76]:
d ={ }
for i in l :
    d[i] = i**2

In [77]:
d

{1: 1, 2: 4, 3: 9, 4: 16, 5: 25, 6: 36, 7: 49}

In [78]:
i = 56

In [79]:
type(i)

int

In [80]:
class test:
    pass

In [81]:
a = test()

In [82]:
a

In [83]:
class test1:
    def __init__(a,b,c,d):
        pass

In [84]:
b = test1(3,4,5)

In [85]:
print(b)

<__main__.test1 object at 0x0000016969EDEE20>

In [97]:
class test1:
    def __init__(self,b,c,d):
        self.b1 = b 
        self.c = c

In [98]:
n = test1(3,4,5)

In [100]:
n.b1

3

In [95]:
n.c

4

In [96]:
n.d

AttributeError: 'test1' object has no attribute 'd'

In [117]:
class test1:
    def __init__(a,b,c,d,**k):
        a.b1 = b 
        a.c = c
        a.k = k['h']

In [118]:
n = test1(3,4,5,h = "sudh" , v= "kumar" , x = 56)

In [119]:
n.b1

3

In [120]:
n.k

'sudh'

In [129]:
class test2:
    a = "sudh"
    def __init__(self, b,c,d):
        self._b = c 
        self.__d = c

In [130]:
n = test2(4,5,6)

In [131]:
n._b

5

In [133]:
n._test2__d

5

In [132]:
n.__d

AttributeError: 'test2' object has no attribute '__d'

In [134]:
a = 5

In [139]:
b = a

In [140]:
b

'sudh'

In [141]:
a = "sudh"

In [142]:
b

'sudh'

In [143]:
l = [3,4,5,6,7,8]

In [144]:
m = l

In [145]:
m

[3, 4, 5, 6, 7, 8]

In [147]:
l[0] = 89

In [148]:
m

[89, 4, 5, 6, 7, 8]

In [149]:
l

[89, 4, 5, 6, 7, 8]

In [150]:
import copy

In [151]:
m1 = copy.copy(l)

In [152]:
m1

[89, 4, 5, 6, 7, 8]

In [153]:
l[2 ] = "sudh"

In [154]:
l

[89, 4, 'sudh', 6, 7, 8]

In [155]:
m

[89, 4, 'sudh', 6, 7, 8]

In [156]:
m1

[89, 4, 5, 6, 7, 8]

In [157]:
m1 = copy.deepcopy(l)