<img src="https://d24cdstip7q8pz.cloudfront.net/t/ineuron1/content/common/images/final%20logo.png" height=60 alt-text="iNeuron.ai logo">

# 13. Object Oriented Programming concepts

__Object Oriented Programming (OOP)__ is a programming paradigm that allows abstraction through the concept of interacting entities. This programming works contradictory to conventional model and is procedural, in which programs are organized as a sequence of commands or statements to perform.

We can think an object as an entity that resides in memory, has a state and it's able to perform some actions. 
 
More formally objects are entities that represent **instances** of a general abstract concept called **class**. In `Python`, "attributes" are the variables defining an object state and the possible actions are called "methods".

In Python, everything is an object also classes and functions.

Each class represents meaningful view of the objects that are instances of this class,
without going into too much detail or giving others access to the inner
workings of the objects i.e. how it works internally. The class contains instance variables,
also known as data members as well as some methods for some purpose also
known as member functions. Object of the class can access this methods to achieve something meaningful.

## 13.1 Goals of object oriented design

### Robustness

**1)** Our program should run properly even with unexpected data

**2)** We need to write in such a way that it handles complex programs and it can handle with unexpected data.

Every developer develop application in such a way that
an application will give correct output in all the scenarios. 
Our application will be robust, that is, it should capable enough for handling
unexpected data that is not predefined.
For example,
if a program is expecting a string and instead it will receive negative integer, then the program should be able to
recover and handle this type of error gracefully.

Writing software programs is a style of programming that dealing with surprising and unforeseen activities. It expects code to deal with these types of terminations and expectations and run smmothly.

### Adaptability

**1)** Software program or application will grow over a life time

**2)** The application should build such a way that is should run with different versions, different generations, different hardware as well. 

Software program or application should have the option to advance after some time in light of changing conditions.
Along these lines, this is significant objective of value in programming that flexibility ought to be accomplished. 
Program should be build in such a way that it will run with minor change on various hardware and os platforms.

### Reusability

Building from reusable applications to avoid making entire new application just like rebuilding entire wheel.

Software should be reusable, that is, the same code should be reusable as a component for different applications.
Developing quality software application can be an expensive and if the software is designed in a way that makes it easily
reusable in future applications, it will helpful in productivity and also can reduce cost for new application.

## 13.2 How to define classes

### Creating a class

Suppose we want to create a class, named Person, as a prototype, a sort of template for any number of 'Person' objects (instances).

The following python syntax defines a class:

    class ClassName(base_classes):
        statements

Class names should always be uppercase (it's a naming convention).

Say we need to model a Person as:

* Name
* Surname  
* Age

In [ ]:
class Person:
    pass

john_doe = Person()
john_doe.name = "Alec"
john_doe.surname = "Baldwin"
john_doe.year_of_birth = 1958


print(john_doe)
print("%s %s was born in %d." %
      (john_doe.name, john_doe.surname, john_doe.year_of_birth))

<__main__.Person object at 0x0000021AE61A1648>
Alec Baldwin was born in 1958.

pass is generally used where code will eventually run without any errors.

In [ ]:
class Person:
    pass

The following example defines an empty class (i.e. the class doesn't have a state) called _Person_ then creates a _Person_ instance called _john_doe_ and adds three attributes to _john_doe_. We see that we can access objects attributes using the "dot" operator.

This isn't a recommended style because classes should describe homogeneous entities. A way to do so is the following:

In [ ]:
class Person:
    def __init__(self, name, surname, year_of_birth):
        self.name = name
        self.surname = surname
        self.year_of_birth = year_of_birth

    __init__(self, ...)
Is a special _Python_ method that is automatically called after an object construction. Its purpose is to initialize every object state. The first argument (by convention) __self__ is automatically passed either and refers to the object itself.

In the preceding example, `__init__` adds three attributes to every object that is instantiated. So the class is actually describing each object's state.

Attributes created in `__init__` method are called instance attributes, so name,surname and year_of_birth are called instance attributes.

In [ ]:
class Person:
    # Here we can declare class attributes
    company = "iNeuron"
    
    def __init__(self, name, surname, year_of_birth):
        self.name = name
        self.surname = surname
        self.year_of_birth = year_of_birth

Here comapny is called class variables and we can use class variables if it will not change for entire class and their methods and functions. It should be same for entire class and every instance. We can use instance attributes which will vary from one instance to another instances of the class.

We cannot directly manipulate any class rather we need to create an instance of the class:

In [ ]:
alec = Person("Alechgffh", "Baldwin", 1958)
print(alec)
print("%s %s was born in %d." % (alec.name, alec.surname, alec.year_of_birth))

<__main__.Person object at 0x0000021AE6163708>
Alechgffh Baldwin was born in 1958.

In [ ]:
# Can access class attribute company in a similar way
alec.company

'iNeuron'


We have just created an instance of the Person class, bound to the variable `alec`.

In [ ]:
# Another example
class Student:
    
    def __init__(self,first_name,last_name,age,class_,section):
        self.first_name = first_name
        self.last_name = last_name
        self.age = age
        self.class_ = class_
        self.section = section

In [ ]:
student1 = Student("Ram","Kumar",17,10,"A")
student2 = Student("Shyam","Sharma",16,9,"C")

In [ ]:
print("Details of first student : Name = {0}, Age= {1} , class_section = {2}".
      format(student1.first_name+ " " +student1.last_name, student1.age, str(student1.class_)+student1.section))

Details of first student : Name = Ram Kumar, Age= 17 , class_section = 10A

In [ ]:
print("Details of second student : Name = {0}, Age= {1} , class_section = {2}".
      format(student2.first_name+ " " +student2.last_name, student2.age, str(student2.class_)+student2.section))

Details of second student : Name = Shyam Sharma, Age= 16 , class_section = 9C

### Methods

In [ ]:
class Person:
    def __init__(a, name, surname, year_of_birth):
        a.name = name
        a.surname = surname
        a.year_of_birth = year_of_birth
    
    def age(a, current_year):
        return current_year - a.year_of_birth
    
    def __str__(a):
        return "%s %s was born in %d ." % (a.name, a.surname, a.year_of_birth)
    
alec = Person("Alec", "Baldwin", 1958)
print(alec)
print(alec.age(2014))

Alec Baldwin was born in 1958 .
56

We defined two more methods `age` and  `__str__`. The latter is once again a special method that is called by Python when the object has to be represented as a string (e.g. when has to be printed). If the `__str__` method isn't defined the **print** command shows the type of object and its address in memory. We can see that in order to call a method we use the same syntax for attributes (**instance_name.instance _method**).

.__init__() and .__str__() methods are called dunder methods. We can call as dunder methods beacause they begin and end with double underscores.

In [1]:
#Let's look at another database example for class methods
# For more detail about database, we will look in future classes.
import sqlite3

class DataBaseOperations:

    def __init__(self,databasename):
        
        self.databasename = databasename

    def createDatabase(self):
        try:
            conn = sqlite3.connect(self.databasename)
        except ConnectionError:
            raise ConnectionError
        return conn

    def createTable(self,tablename,dictionaryOfcolumnNamesAndcolumnDatatypes):
        try:
            conn = self.createDatabase()
            c = conn.cursor()
            for key in dictionaryOfcolumnNamesAndcolumnDatatypes.keys():
                datatype = dictionaryOfcolumnNamesAndcolumnDatatypes[key]
                try:
                    conn.execute(
                        'ALTER TABLE {tableName} ADD COLUMN "{column_name}" {dataType}'.format(tableName=tablename,
                                                                                               column_name=key,
                                                                                               dataType=datatype))
                except:
                    conn.execute('CREATE TABLE {tableName} ({column_name} {dataType})'.format(tableName=tablename,
                                                                                              column_name=key,
                                                                                              dataType=datatype))
            print("Table {0} created in database {1}".format(tablename,self.databasename))
            self.closeDbConnection(conn)
            print("Connection to database closed!!")
        except Exception as e:
            conn.rollback()
            self.closeDbConnection(conn)
            print("Connection to database closed!!")

            print("Exception occured: " + str(e))

    def insertIntoTable(self,tablename, listOfvaluesToInsert):
        try:
            conn = self.createDatabase()
            conn.execute('INSERT INTO {tablename}  values ({values})'.format(tablename = tablename,values=(listOfvaluesToInsert)))
            conn.commit()
            print("Values Inserted Successfully!!!")
            self.closeDbConnection(conn)
            print("Connection to database closed!!")
        except Exception as e:
            conn.rollback()
            self.closeDbConnection(conn)
            print("Connection to database closed!!")
            print("Error occured: " + str(e))

        # self.closeDbconnection()
    
    def selectFromTable(self,tablename):

        try:
            conn = self.createDatabase()
            c = conn.cursor()
            c.execute("SELECT *  FROM {table}".format(table=tablename))
            print("values in table : " ,c.fetchall())
            self.closeDbConnection(conn)
            print("Connection to database closed!!")
            
        except Exception as e:
            self.closeDbConnection(conn)
            print("Connection to database closed!!")
            print("Error occured: " + str(e))
    
    def closeDbConnection(self,connection):
       
        connection.close()

In [2]:
#creating an object of class databaseOperations
db = DataBaseOperations("test1")

In [3]:
#creating database
db.createDatabase()

In [4]:
tableDetails = {"studentId" : "INTEGER", "studentRoll" : "INTEGER", "studentMarks" : "FLOAT"}

In [5]:
db.createTable("table1",tableDetails)

Connection to database closed!!
Exception occured: table table1 already exists

In [6]:
valuesToisnert= ('1,1,97')

In [7]:
# Inserting values
db.insertIntoTable("table1",valuesToisnert)

Values Inserted Successfully!!!
Connection to database closed!!

In [8]:
db.selectFromTable("table1")

values in table :  [(1, 1, 97.0), (1, 1, 97.0), (1, 1, 97.0)]
Connection to database closed!!

### Bad practice

It is possible to create a class without the `__init__` method, but this is not a recommended style because classes should describe homogeneous entities.

In [ ]:
class Person:
  
    def set_name(self, name):
        self.name = name
        
    def set_surname(self, surname):
        self.surname = surname
        
    def set_year_of_birth(self, year_of_birth):
        self.year_of_birth = year_of_birth
        
    def age(self, current_year):
        return current_year - self.year_of_birth
    
    def __str__(self):
        return "%s %s was born in %d ." \
                % (self.name, self.surname, self.year_of_birth)

In this case, an empty instance of the class Person is created, and no attributes have been initialized while instantiating:

In [ ]:
president = Person()

In [ ]:
# This code will raise an attribute error:
print(president.name)

AttributeError: 'Person' object has no attribute 'name'

This raises an Attribute Error... We need to set the attributes:

In [ ]:
president.set_name('John')
president.set_surname('Doe')
president.set_year_of_birth(1940)

In [ ]:
print('Mr', president.name, president.surname,
      'is the president, and he is very old. He is',
      president.age(2014))

Mr John Doe is the president, and he is very old. He is 74

### Protect your abstraction

Here the instance attributes shouldn't be accessible by the end user of an object as they are powerful mean of abstraction they should not reveal the internal implementation detail. In Python, there is no specific strict mechanism to protect object attributes but the official guidelines suggest that a variable that has an underscore prefix should be treated as 'Private'.

Moreover prepending two underscores to a variable name makes the interpreter mangle a little the variable name.

In [ ]:
class Person:
    def __init__(self, name, surname, year_of_birth):
        self._name = name # _ single underscore means protected
        self._surname = surname
        self._year_of_birth = year_of_birth
    
    def age(self, current_year):
        return current_year - self._year_of_birth
    
    def __str__(self):
        return "%s %s and was born %d." \
                % (self._name, self._surname, self._year_of_birth)
    
alec = Person("Alec", "Baldwin", 1958)
print(alec)
print(alec._surname)

Alec Baldwin and was born 1958.
Baldwin

In [ ]:
class Person:
    def __init__(a, name, surname, year_of_birth): # we can give whichever name we can give instead of self
        a.__name = name # __ double underscore means private members of a class
        a.__surname = surname
        a.__year_of_birth = year_of_birth
    
    def age(self, current_year):
        return current_year - self.__year_of_birth
    
    def __str__(self):
        return "%s %s and was born %d." \
                % (self.__name, self.__surname, self.__year_of_birth)
    
alec = Person("Alec", "Baldwin", 1958)
print(alec._Person__name) # For accessing private elements of a class

Alec

`__dict__` is a special attribute is a dictionary containing each attribute of an object. We can see that prepending two underscores every key has `_ClassName__` prepended.

## 13.3 Inheritance

Once a class is defined it models a concept. It is useful to extend a class behavior to model a less general concept. Say we need to model a Student, but we know that every student is also a Person so we shouldn't model the Person again but inherit from it instead.

Through inheritance one can take all the methods and attributes from the another class and we can override or extend the methods from the another class. The class which is overriding is called child class and the class from methods are taking is called parent class.

In [ ]:
class Student(Person):
    def __init__(self, student_id, *args):
        super(Student, self).__init__(*args)
        self._student_id = student_id
        
charlie = Student(1, 'Charlie', 'Brown', 2006)
print(charlie._student_id)
print(type(charlie))
print(isinstance(charlie, Person))
print(isinstance(charlie, object))

1
<class '__main__.Student'>
True
True

Charlie now has the same behavior of a Person, but his state has also a student ID. A Person is one of the base classes of Student and Student is one of the sub classes of Person. Be aware that a subclass knows about its superclasses but the converse isn't true.

A sub class doesn't only inherits from its base classes, but from its base classes too, forming an inheritance tree that starts from a object (every class base class).

    super(Class, instance)
    
is a function that returns a proxy-object that delegates method calls to a parent or sibling class of type.
So we used it to access Person's `__init__`.

In [ ]:
# Another example 
class StudentMarks(DataBaseOperations): # inheriting the DatabaseOperation class
    
    def __init__ (self, ID, RollNumber, Marks):
        
        self.id= ID
        self.RollNum = RollNumber
        self.Marks = Marks
        self.databasename = "StudentDetails"

In [ ]:
student1 = StudentMarks(23,34,76)

In [ ]:
student1.createDatabase()

In [ ]:
tableDetails = {"studentId" : "INTEGER", "studentRoll" : "INTEGER", "studentMarks" : "FLOAT"}

In [ ]:
student1.createTable("studentMarks2",tableDetails)

Table studentMarks2 created in database StudentDetails
Connection to database closed!!

In [ ]:
valuestoInsert= ("{0},{1},{2}".format(student1.id,student1.RollNum,student1.Marks))

In [ ]:
student1.insertIntoTable("studentMarks2",valuestoInsert)

Values Inserted Successfully!!!
Connection to database closed!!

In [ ]:
student1.selectFromTable("studentMarks2")

values in table :  [(23, 34, 76.0)]
Connection to database closed!!

### Overriding methods

Inheritance allows to add new methods to a subclass but often is useful to change the behavior of a method defined in the superclass. To override a method just define it again.

In [ ]:
class Student(Person):
    def __init__(self, student_id, *args, **kwargs):
        super(Student, self).__init__(*args, **kwargs)
        self._student_id = student_id
        
    def __str__(self):
        return super(Student, self).__str__() + " And has ID: %d" % self._student_id
        
charlie = Student(1, 'Charlie', 'Brown', 2006)
print(charlie)

Charlie Brown and was born 2006. And has ID: 1

We defined `__str__` again overriding the one wrote in Person, but we wanted to extend it, so we used super to achieve our goal.

In [ ]:
#another class inheriting the DataBaseOperation class with overRiding the insert function
class StudentDetails(DataBaseOperations): # inheriting the DatabaseOperation class
        
        def __init__ (self, FirstName,LastName, RollNumber, Class):
        
            self.FirstName= FirstName
            self.LastName = LastName
            self.RollNumber = RollNumber
            self.Class = Class
            self.databasename = "StudentDetails"
            
        #overriding the insert method of parent class to insert string values in table
        def insertIntoTable(self,tablename):
            try:
                
                firstName = '"' + self.FirstName + '"' #putting string value under quotes to insert into database
                LastName = '"' + self.LastName + '"'
                Class = '"' + self.Class + '"'
                
                listOfvaluesToInsert= ("{0},{1},{2},{3}".format(firstName,LastName,self.RollNumber,Class))
                conn = self.createDatabase()
                conn.execute('INSERT INTO {tablename}  values ({values})'.format(tablename = tablename,values=(listOfvaluesToInsert)))
                conn.commit()
                print("Values Inserted Successfully!!!")
                self.closeDbConnection(conn)
                print("Connection to database closed!!")
            except Exception as e:
                conn.rollback()
                self.closeDbConnection(conn)
                print("Connection to database closed!!")
                print("Error occured: " + str(e))

In [ ]:
student1 = StudentDetails("Raj","Kumar",34,"Ten")

In [ ]:
student1.createDatabase()

In [ ]:
tableDetails = {"studentFirstName" : "Varchar", "studentLastName" : "Varchar", "studentRollNumber" : "INTEGER","StudentClass": "Varchar"}

In [ ]:
student1.createTable("studentDetails",tableDetails)

Connection to database closed!!
Exception occured: table studentDetails already exists

In [ ]:
student1.insertIntoTable("studentDetails")

Values Inserted Successfully!!!
Connection to database closed!!

In [ ]:
student1.selectFromTable("studentDetails")

values in table :  [('Raj', 'Kumar', 34, 'Ten'), ('Raj', 'Kumar', 34, 'Ten')]
Connection to database closed!!

## 13.4 Encapsulation

Encapsulation is an another powerful way to extend a class which consists on wrapping an object with a second one.

Encapsulations is applications of a software or a program will not reveal the internal implementation details to the outer world.
The only constraint on the programmer is to maintain the public interface for the component, as other programmers will
be writing code that depends on that developed interface. 
Encapsulation allows the implementation details of a program to
be change without affecting other parts of the program, thereby making it easier to fix bugs or add new functionality with some local changes to an application.


There are two main reasons to use encapsulation:

* Composition
* Dynamic Extension

### Composition

The abstraction process relies on creating a simplified model that remove useless details from a concept. In order to be simplified, a model should be described in terms of other simpler concepts.
For example, we can say that a car is composed by:
* Tyres
* Engine
* Body

And break down each one of these elements in simpler parts until we reach primitive data.

In [ ]:
class Tyres:
    def __init__(self, branch, belted_bias, opt_pressure):
        self.branch = branch
        self.belted_bias = belted_bias
        self.opt_pressure = opt_pressure
        
    def __str__(self):
        return ("Tyres: \n \tBranch: " + self.branch +
               "\n \tBelted-bias: " + str(self.belted_bias) + 
               "\n \tOptimal pressure: " + str(self.opt_pressure))
        
class Engine:
    def __init__(self, fuel_type, noise_level):
        self.fuel_type = fuel_type
        self.noise_level = noise_level
        
    def __str__(self):
        return ("Engine: \n \tFuel type: " + self.fuel_type +
                "\n \tNoise level:" + str(self.noise_level))
        
class Body:
    def __init__(self, size):
        self.size = size
        
    def __str__(self):
        return "Body:\n \tSize: " + self.size
        
class Car:
    def __init__(self, tyres, engine, body):
        self.tyres = tyres
        self.engine = engine
        self.body = body
        
    def __str__(self):
        return str(self.tyres) + "\n" + str(self.engine) + "\n" + str(self.body)

        
t = Tyres('Pirelli', True, 2.0)
e = Engine('Diesel', 3)
b = Body('Medium')
c = Car(t, e, b)
print(c)

Tyres:
 	Branch: Pirelli
 	Belted-bias: True
 	Optimal pressure: 2.0
Engine:
 	Fuel type: Diesel
 	Noise level:3
Body:
 	Size: Medium

### Dynamic Extension

Sometimes it's necessary to model a concept that may be a subclass of another one, but it isn't possible to know which class should be its superclass until runtime.

### Example

Suppose we want to model a simple dog school that trains instructors too. It will be nice to re-use Person and Student but students can be dogs or peoples. So we can remodel it this way:

In [ ]:
class Dog:
    def __init__(self, name, year_of_birth, breed):
        self._name = name
        self._year_of_birth = year_of_birth
        self._breed = breed

    def __str__(self):
        return "%s is a %s born in %d." % (self._name, self._breed, self._year_of_birth)

kudrjavka = Dog("Kudrjavka", 1954, "Laika")
print(kudrjavka)

Kudrjavka is a Laika born in 1954.

In [ ]:
class Student:
    def __init__(self, anagraphic, student_id):
        self._anagraphic = anagraphic
        self._student_id = student_id
    def __str__(self):
        return str(self._anagraphic) + " Student ID: %d" % self._student_id


alec_student = Student("dsfs",1)
kudrjavka_student = Student(kudrjavka, 2)

print(alec_student)
print(kudrjavka_student)

dsfs Student ID: 1
Kudrjavka is a Laika born in 1954. Student ID: 2

In [ ]:
# Lets look at another example of encapsulation
class BonusDistribution:
    
    def __init__ (self,employeeId, employeeRating):
    
        self.empId = employeeId
        self.empRating = employeeRating
        self.__bonusforRatingA = "70%"  #making value private
        self.__bonusforRatingB = "60%"  #making value private
        self.__bonusforRatingC = "50%"  #making value private
        self.__bonusforRatingD = "30%"  #making value private
        self.__bonusforRatingForRest = "No Bonus" #making value private
        
        
    def bonusCalculator(self):
        
        if self.empRating == 'A':
            bonus = self.__bonusforRatingA
            msg = "Bonus for this employee is :"+ bonus
            return msg
        elif self.empRating == 'B':
            bonus = self.__bonusforRatingB
            msg = "Bonus for this employee is :"+ bonus
            return msg
        elif self.empRating == 'C':
            bonus = self.__bonusforRatingC
            msg = "Bonus for this employee is :"+ bonus
            return msg
        elif self.empRating == 'D':
            bonus = self.__bonusforRatingD
            msg = "Bonus for this employee is :"+ bonus
            return msg
        else:
            bonus = self.__bonusforRatingForRest
            msg = "Bonus for this employee is :"+ bonus
            return msg

In [ ]:
emp1 = BonusDistribution(1232,'B')
emp2 = BonusDistribution(1342,'A')
emp3 = BonusDistribution(1031,'E')

In [ ]:
emp2.bonusCalculator()

'Bonus for this employee is :70%'

In [ ]:
emp1.bonusCalculator()

'Bonus for this employee is :60%'

In [ ]:
emp3.bonusCalculator()

'Bonus for this employee is :No Bonus'

Let's try to change the private value of the class:

In [ ]:
emp1._bonusforRatingB = "90%"

In [ ]:
emp1.bonusCalculator()

'Bonus for this employee is :60%'

The private attribute is not changed.

To change the private attribute we need to define a function inside the class. Let's see how.

In [ ]:
class BonusDistribution:
    
    def __init__ (self,employeeId, employeeRating):
    
        self.empId = employeeId
        self.empRating = employeeRating
        self.__bonusforRatingA = "70%"  #making value private
        self.__bonusforRatingB = "60%"  #making value private
        self.__bonusforRatingC = "50%"  #making value private
        self.__bonusforRatingD = "30%"  #making value private
        self.__bonusforRatingForRest = "No Bonus" #making value private
        
        
    def bonusCalculator(self):
        
        if self.empRating == 'A':
            bonus = self.__bonusforRatingA
            msg = "Bonus for this employee is :"+ bonus
            return msg
        elif self.empRating == 'B':
            bonus = self.__bonusforRatingB
            msg = "Bonus for this employee is :"+ bonus
            return msg
        elif self.empRating == 'C':
            bonus = self.__bonusforRatingC
            msg = "Bonus for this employee is :"+ bonus
            return msg
        elif self.empRating == 'D':
            bonus = self.__bonusforRatingD
            msg = "Bonus for this employee is :"+ bonus
            return msg
        else:
            bonus = self.__bonusforRatingForRest
            msg = "Bonus for this employee is :"+ bonus
            return msg       
        
    def changeBonusForRatingForRest(self,value):
        
        self.__bonusforRatingForRest = value

In [ ]:
emp3 = BonusDistribution(1031,'E')

In [ ]:
emp3.bonusCalculator()

'Bonus for this employee is :No Bonus'

In [ ]:
emp3.changeBonusForRatingForRest("20%")

In [ ]:
emp3.bonusCalculator()

'Bonus for this employee is :20%'

We can see that the private attribute has now been changed and anyone can change that attribute now. This is bad way of writing a method which can change an private attribute. Let's make the function also private so it doesnot showup for everyone.

In [ ]:
class BonusDistribution:
    
    def __init__ (self,employeeId, employeeRating):
    
        self.empId = employeeId
        self.empRating = employeeRating
        self.__bonusforRatingA = "70%"  #making value private
        self.__bonusforRatingB = "60%"  #making value private
        self.__bonusforRatingC = "50%"  #making value private
        self.__bonusforRatingD = "30%"  #making value private
        self.__bonusforRatingForRest = "No Bonus" #making value private
        
        
    def bonusCalculator(self):
        
        if self.empRating == 'A':
            bonus = self.__bonusforRatingA
            msg = "Bonus for this employee is :"+ bonus
            return msg
        elif self.empRating == 'B':
            bonus = self.__bonusforRatingB
            msg = "Bonus for this employee is :"+ bonus
            return msg
        elif self.empRating == 'C':
            bonus = self.__bonusforRatingC
            msg = "Bonus for this employee is :"+ bonus
            return msg
        elif self.empRating == 'D':
            bonus = self.__bonusforRatingD
            msg = "Bonus for this employee is :"+ bonus
            return msg
        else:
            bonus = self.__bonusforRatingForRest
            msg = "Bonus for this employee is :"+ bonus
            return msg       
        
    def __changeBonusForRatingForRest(self,value):
        
        self.__bonusforRatingForRest = value

In [ ]:
emp3 = BonusDistribution(1031,'E')

In [ ]:
emp3.bonusCalculator()

'Bonus for this employee is :No Bonus'

In [ ]:
emp3

In [ ]:
emp3.__changeBonusForRatingForRest("20%")

AttributeError: 'BonusDistribution' object has no attribute '__changeBonusForRatingForRest'

You can see that that method cannot be accessed now. Also, the method doesnot show up in the class property:

<img src="private_method.png">


If you know the name of the method, then you can still call the private member by using the class name as shown below:

In [ ]:
emp3._BonusDistribution__changeBonusForRatingForRest("20%")

In [ ]:
emp3.bonusCalculator()

'Bonus for this employee is :20%'

### Operator Overloading

In [ ]:
class multiplyNum():
    
    def __init__(self,a):
        self.a =a

In [ ]:
a1 = multiplyNum(2)
a2 = multiplyNum(3)

In [ ]:
#let's try and multiply both the objects
print(a1*a2)

TypeError: unsupported operand type(s) for *: 'multiplyNum' and 'multiplyNum'

We are getting an error because by default multiply supports only numerical values.

We can change the function of multiply and this is what we call overloading. 

Python calls "__mul__" function to multiply numbers, let's overload it.

In [ ]:
class multiplyNum():
    
    def __init__(self,a):
        self.a =a
    
    def __mul__(self,other):
        
         return self.a*other.a

In [ ]:
a1 = multiplyNum(2)
a2 = multiplyNum(3)

In [ ]:
a1*a2

6

Great!! now we can multiply objects. We can also overide our __mul__ function and get it do return sum instead of multiplication.

In [ ]:
class multiplyNum():
    
    def __init__(self,a):
        self.a =a
    
    def __mul__(self,other):
        
         return self.a+other.a  #overloading multiply method and returning sum instead of multiplication

In [ ]:
a1 = multiplyNum(2)
a2 = multiplyNum(3)

In [ ]:
a1*a2

5

### Overload string method

In [ ]:
class printInformation():
    
    def __init__(self,operator):
        self.operator =operator
    
    def __str__(self):
        return "overloading the opearator :" + self.operator

In [ ]:
print_ = printInformation('string')

In [ ]:
print(print_)

overloading the opearator :string

## 13.5 Polymorphism and DuckTyping

`Python` uses dynamic typing which is also called as duck typing. If an object implements a method you can use it, irrespective of the type. This is different from statically typed languages, where the type of a construct need to be explicitly declared. Polymorphism is the ability to use the same syntax for objects of different types:

In [ ]:
def summer(a, b):
    return a + b

print(summer(1, 1))
print(summer(["a", "b", "c"], ["d", "e"]))
print(summer("abra", "cadabra"))

2
['a', 'b', 'c', 'd', 'e']
abracadabra

In [ ]:
# Polymorphism example
class Instagram:
    
    def share_stories(self):
        print("share your stories on Instagram!!!")
    
class Facebook:
    
    def share_stories(self):
        print("share your stories on Facebook!!!")

def ShareStory(application):
    application.share_stories()

In [ ]:
insta = Instagram()
fb = Facebook()

In [ ]:
ShareStory(insta)

share your stories on Instagram!!!

In [ ]:
ShareStory(fb)

share your stories on Facebook!!!

## 13.6 How long does a class should be?

There is an Object Oriented Programming (OOP) principle called Single Responsibility Principle (SRP) and it states: "A class should have one single responsibility" or "A class should have only one reason to change". 

If you come across a class which doesn't follow the SRP principle, you should spilt it. You will be grateful to SRP during your software maintenance. 

There is an excellent example from wikipedia which is nicely understood the concept of SRP:-
    
"Martin defines a responsibility as a reason to change, and concludes that a class or module should have one, and only one, reason to be changed (e.g. rewritten). As an example, consider a module that compiles and prints a report. Imagine such a module can be changed for two reasons. First, the content of the report could change. Second, the format of the report could change. These two things change for very different causes; one substantive, and one cosmetic. The single-responsibility principle says that these two aspects of the problem are really two separate responsibilities, and should, therefore, be in separate classes or modules. It would be a bad design to couple two things that change for different reasons at different times.

The reason it is important to keep a class focused on a single concern is that it makes the class more robust. Continuing with the foregoing example, if there is a change to the report compilation process, there is a greater danger that the printing code will break if it is part of the same class." Source- Wikipedia

>**Refer:-**  https://en.wikipedia.org/wiki/Single-responsibility_principle#:~:text=The%20single%2Dresponsibility%20principle%20(SRP,the%20class%2C%20module%20or%20function.

## 13.7 shallow and deep copy

Till now we have use = operator to create a copy of an object,like a=b. First we have thought that it creates a new object,but rather it creates a new variable that take the reference of the same original object.

In [ ]:
#Lets look for the same = assignment operator reference id

a=10
b = a

print("Id of a:- " , id(a))
print("Id of b:- ", id(b))

Id of a:-  140737431511728
Id of b:-  140737431511728

In [ ]:
# Here the id is same for both a & b, hence if we want to change the value it will reflect in both

In [ ]:
a = 20

In [ ]:
print(a,b)

20 20

But many times we want to change the newly created values only, we dont want to modify the original value so for that we can achieve this with creating copies in two ways:-
    
    1) Deep Copy
    
    2) Shallow Copy

### Shallow copy

A `shallow copy` creates a new object which stores the reference of the original elements.

So, a `shallow copy` doesn't copy actual object, instead it just copies the reference of nested objects. Lets look with example:-

In [ ]:
a = ["ineuron","datascience"]
# Shallow copy can be created using copy module
import copy
a_new = copy.copy(a)

print(a)
print(a_new)

['ineuron', 'datascience']
['ineuron', 'datascience']

In [ ]:
print(id(a))
print(id(a_new)) # Id will be different

2314553437832
2314553501256

In [ ]:
# Lets reassign the values
a.append("AI")

print(a)
print(a_new)

['ineuron', 'datascience', 'AI']
['ineuron', 'datascience']

In [9]:
# Try to update the original nested value
import copy

a = [[1, 2, 3], [4, 5, 6],[5,5,5]]
new_a = copy.copy(a)
new_a.append("sudh")
a[1][1] = 'Update_value'

print(a)
print(new_a)

[[1, 2, 3], [4, 'Update_value', 6], [5, 5, 5]]
[[1, 2, 3], [4, 'Update_value', 6], [5, 5, 5], 'sudh']

In [10]:
print(a)
print(new_a)

[[1, 2, 3], [4, 'Update_value', 6], [5, 5, 5]]
[[1, 2, 3], [4, 'Update_value', 6], [5, 5, 5], 'sudh']

### Deep copy

The `deep copy` will create independent copy of original object rather than just copying reference and all the other nested objects as well.

We can create deep copy using `deepcopy()` function present in copy module.

In [ ]:
import copy

a = [1,2,3]
a_new = copy.deepcopy(a)

print(a)
print(a_new)

[1, 2, 3]
[1, 2, 3]

In [ ]:
print(id(a))
print(id(a_new))

2314553501704
2314553471624

In [ ]:
a[1]="change"
print(a)
print(a_new)

[1, 'change', 3]
[1, 2, 3]

In [ ]:
a = [[1,2,3],[4,5,6],[7,8,9]]

a_new = copy.deepcopy(a)

print(a)
print(a_new)

[[1, 2, 3], [4, 5, 6], [7, 8, 9]]
[[1, 2, 3], [4, 5, 6], [7, 8, 9]]

In [ ]:
a[0][0] = "update"

print(a)
print(a_new) # Not changed this value

[['update', 2, 3], [4, 5, 6], [7, 8, 9]]
[[1, 2, 3], [4, 5, 6], [7, 8, 9]]

In [ ]:
# Few more oops example

# Single inheritence
class Ineuron:
    company_website = 'https://ineuron.ai/'
    name = 'iNeuron'
 
    def contact_details(self):
        print('Contact us at ', self.company_website)
 
 
class Datascience(Ineuron):
    def __init__(self):
        self.year_of_establishment= 2018
 
    def est_details(self):
        print('{0} Company was established in {1}'
              .format(self.name,self.year_of_establishment))
 
 
ds = Datascience()
ds.est_details()
 
 
# Multiple inheritence
class OS:
    multi_task = True
    os_name = 'Windows OS'
 
 
class windows(OS, Ineuron):
    def __init__(self):
        if self.multi_task is True:
            print('multi_task')
        print('Name: {}'.format(self.name))
 
 
windows = windows()
 
 
# Multilevel inheritence
class iNeuron:
    num_of_courses = 12
 
 
class Datascience(iNeuron):
    course_type = 'Data-Science'
 
 
class AI(Datascience):
    def __init__(self):
        self.company = "iNeuron"
        print('The company {0} offers total {1} different types of courses. Most trending course is {2}'.format(self.company,self.num_of_courses,self.course_type))
 
 
AI = AI()

iNeuron Company was established in 2018
multi_task
Name: iNeuron
The company iNeuron offers total 12 different types of courses. Most trending course is Data-Science